# Flutter build output
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
generated_plugin_registrant.dart

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/engine/
ios/Flutter/flutter_assets/
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/captures/
android/app/build/
android/local.properties
android/.idea/

# Web
web/.dart_tool/

# VS Code
.vscode/

# IntelliJ / Android Studio
*.iml
.idea/
*.ipr
*.iws

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Podfile.lock

# Windows
windows/Flutter/ephemeral/
windows/Flutter/generated_plugin_registrant.cc
windows/.dart_tool/

# Linux
linux/Flutter/ephemeral/
linux/flutter/GeneratedPluginRegistrant.cc

# Others
*.log
*.lock
*.tmp
*.bak
*.DS_Store

# Firebase / Crashlytics (if used)
firebase_app_id_file.json
google-services.json
GoogleService-Info.plist
